@import '~bootstrap/scss/bootstrap';

.post-container{
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    gap           : 10px;
    font-size     : 14px;

    .post{
        border       : 1px solid grey;
        border-radius: 3px;
        padding      : 10px;
        margin       : 0 10px;
        min-width    : 300px;

        text-align: left !important;

    }

    .post-title{
        font-size  : 18px;
            font-weight: 600;
    }
}

.form-body{
    
    display: flex;
    flex-direction: column;
    max-width: 400px;
    /* align-items: center; */
    gap: 10px;
    margin: 0 auto;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;

    .label-form{
        display: flex;
    }

   
        
}